body {
  font-family: 'Fira Sans', sans-serif;
}
.header-container {
  .bg-top {
    @include background-cover();
    background: url('../images/back-top.jpg');
    background-position: center center;
  }
  .main-text {
    opacity: 0;
    text-align: center;
    color: $text-dark;
    .h1 {
      @include min-breakpoint(576) {
        font-size: 4.2rem;
      }
      font-weight: 700;
      font-size: 3rem;
    }
    .dark {
      background-color: $bg-dark;
      color: #fff;
      font-size: 1.2rem;
      padding: 5px 0px;
      border-radius: 4px;
      &::first-letter {
      color: $primary-color;
      }
      span {
        font-weight: 600;
      }
    }
    .down-arrow {
      color: $primary-color;
      border: 3px solid $primary-color;
      border-radius: 50%;
      padding: 8px;
    }
    .start-doing {
      overflow: hidden;
      .h3 {
        font-weight: 600;
        display: inline-block;
        position: relative;
        span {
          color: $primary-color;
        }
      }
    }
  }
  .b-nav{
      border-bottom: 1px solid #dedede;
      transition: background 1s;
      &, .navbar-brand {
        opacity: 0;
      }
      
      .nav-link {
        color: #5f5f5f;
        font-weight: 700;
        text-transform: uppercase;
        &:hover, &:focus {
          color: #000;
        }
      }
      .active.nav-link {
          color: #e4e4e4;
          border-radius: 5px;
          background-color: $primary-color;
      }
      .btn {
        background-color:transparent;
        color: $primary-color;
      }
  }   
}
.navbar-brand {
      color: #9c9c9c;
      font-weight: 700;

}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $text-light;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}