<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    <!-- @@include('../partials/banner.html') -->

    <section class="main-container">
      <div id="a" class="block-container">
        <div class="container-fluid">
          <div class="row px-5">
            <div class="col-12 py-5">
              <div class="start-doing text-center">
              <p class="h3">
                <span class="left-line"></span>
                <span class="left-square-3"></span>
                <span class="left-square-2"></span>
                <span class="left-square-1"></span> 
                WHAT WE <span>OFFER</span>
                <span class="right-square-1"></span>
                <span class="right-square-2"></span>
                <span class="right-square-3"></span>
                <span class="right-line"></span>
              </p>
              <p>We offer out customers the best services & solutions, this is our main services list</p>
              </div>
              <div class="row py-5 offer">
                <div class="col-4 text-center offer-item">
                  <i class="fas fa-desktop fa-7x big-icon"></i>
                  <p class="h4 mt-4">Responsive & multipurpose</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ex repudiandae.</p>
                  <a href="#" class="btn mt-4">read more</a>
                </div>
                <div class="col-4 text-center offer-item">
                  <i class="fas fa-puzzle-piece fa-7x big-icon"></i>
                  <p class="h4 mt-4">Responsive & multipurpose</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ex repudiandae.</p>
                  <a href="#" class="btn mt-4">read more</a>
                </div>
                <div class="col-4 text-center offer-item">
                  <i class="fas fa-life-ring fa-7x big-icon"></i>
                  <p class="h4 mt-4">Responsive & multipurpose</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ex repudiandae.</p>
                  <a href="#" class="btn mt-4">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row px-5 feature">
            <div class="col-12 py-5">
              <div class="key"><i class="fas fa-key text-white" ></i></div>
              <div class="start-doing text-center">
              <p class="h3">
                <span class="left-line"></span>
                <span class="left-square-3"></span>
                <span class="left-square-2"></span>
                <span class="left-square-1"></span> 
                AMAZING <span>FEATURE</span>
                <span class="right-square-1"></span>
                <span class="right-square-2"></span>
                <span class="right-square-3"></span>
                <span class="right-line"></span>
              </p>
              <p class="heading-decription">With unlimited features that we offer, we promise it's possible to make everything that was impossible for you!</p>
              </div>
            </div>
            <div class="col-5">
              <ul class="features-list list-unstyled">
                <li class="clearfix d-flex align-items-center mb-5">
                  <i class="fas fa-desktop fa-3x mr-5"></i>
                  <div>
                    <p class="h6 mb-3">responsive & multipurpose</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
                </li>
                <li class="clearfix d-flex align-items-center mb-5">
                  <i class="fas fa-puzzle-piece fa-3x mr-5"></i>
                  <div>
                    <p class="h6 mb-3">easy customization</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
                </li>
                <li class="clearfix d-flex align-items-center mb-5">
                  <i class="fas fa-star fa-3x mr-5"></i>
                  <div>
                    <p class="h6 mb-3">unlimited features</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-7 device">
                <div class="tablet">
                  <img class="img-fluid" src="../images/template.jpg">
                </div>
                <div class="tablet-landscape">
                  <div style="overflow:hidden">
                    <img class="img-fluid" src="../images/template.jpg">
                  </div>
                </div>
            </div>
          </div>
          <div class="row p-5 feature-all my-5">
            <div class="clearfix d-flex justify-content-beetween mb-5 col-4">
                  <div class="mr-3 px-3">
                    <div class="shape">                    
                    <i class="fas fa-desktop fa-lg"></i>
                    </div>
                  </div>
                  <div>
                    <p class="h6 mb-0">responsive & multipurpose</p>
                    <p class="small mb-3">Desktops, Tablets & Phones </p>
                    <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
            </div>
            <div class="clearfix d-flex justify-content-beetween mb-5 col-4">
                  <div class="mr-3 px-3">
                    <div class="shape">                    
                    <i class="fas fa-puzzle-piece fa-lg"></i>
                    </div>
                  </div>
                  <div>
                    <p class="h6 mb-0">responsive & multipurpose</p>
                    <p class="small mb-3">Desktops, Tablets & Phones </p>
                    <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
            </div>
            <div class="clearfix d-flex justify-content-beetween mb-5 col-4">
                  <div class="mr-3 px-3">
                    <div class="shape">                    
                    <i class="fas fa-star fa-lg"></i>
                    </div>
                  </div>
                  <div>
                    <p class="h6 mb-0">responsive & multipurpose</p>
                    <p class="small mb-3">Desktops, Tablets & Phones </p>
                    <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
            </div>
            <div class="clearfix d-flex justify-content-beetween mb-5 col-4">
                  <div class="mr-3 px-3">
                    <div class="shape">                    
                    <i class="fas fa-file-code fa-fw fa-lg"></i>
                    </div>
                  </div>
                  <div>
                    <p class="h6 mb-0">responsive & multipurpose</p>
                    <p class="small mb-3">Desktops, Tablets & Phones </p>
                    <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
            </div>
            <div class="clearfix d-flex justify-content-beetween mb-5 col-4">
                  <div class="mr-3 px-3">
                    <div class="shape">                    
                    <i class="fas fa-shopping-cart fa-lg"></i>
                    </div>
                  </div>
                  <div>
                    <p class="h6 mb-0">responsive & multipurpose</p>
                    <p class="small mb-3">Desktops, Tablets & Phones </p>
                    <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
            </div>
            <div class="clearfix d-flex justify-content-beetween mb-5 col-4">
                  <div class="mr-3 px-3">
                    <div class="shape">                    
                    <i class="fas fa-life-ring fa-lg"></i>
                    </div>
                  </div>
                  <div>
                    <p class="h6 mb-0">responsive & multipurpose</p>
                    <p class="small mb-3">Desktops, Tablets & Phones </p>
                    <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro earum, dolore debitis ipsam quis.</p>
                  </div>
            </div>
          </div>
          <div class="row px-5 pb-5 skill">
            <div class="col-12 py-5">
              <div class="key"><i class="fas fa-briefcase text-white" ></i></div>
              <div class="start-doing text-center">
              <p class="h3">
                <span class="left-line"></span>
                <span class="left-square-3"></span>
                <span class="left-square-2"></span>
                <span class="left-square-1"></span> 
                OUR POWERFUL <span>SKILLS</span>
                <span class="right-square-1"></span>
                <span class="right-square-2"></span>
                <span class="right-square-3"></span>
                <span class="right-line"></span>
              </p>
              <p class="heading-decription">We're good and experienced at different things and areas and we promise about quality of our works</p>
              </div>
            </div>
            <div class="col-2">
              <div class="percent-circle">
                <p class="text"><span>75</span>%</p>
                <svg viewbox="0 0 36 36" class="circular-chart">
                <path class="circle-full"
                  stroke-dasharray="100, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                  stroke-dasharray="75, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
              </svg>
              </div>
              <p class="skill-name mt-3 text-center">WEB DESIGN</p>
            </div>
            <div class="col-2">
              <div class="percent-circle">
                <p class="text"><span>92</span>%</p>
                <svg viewbox="0 0 36 36" class="circular-chart">
                <path class="circle-full"
                  stroke-dasharray="100, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                  stroke-dasharray="92, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
              </svg>
              </div>
              <p class="skill-name mt-3 text-center">WEB DEVELOPMENT</p>
            </div>
            <div class="col-2">
              <div class="percent-circle">
                <p class="text"><span>68</span>%</p>
                <svg viewbox="0 0 36 36" class="circular-chart">
                <path class="circle-full"
                  stroke-dasharray="100, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                  stroke-dasharray="68, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
              </svg>
              </div>
              <p class="skill-name mt-3 text-center">SPEED OPTIMIZATION</p>
            </div>
            <div class="col-2">
              <div class="percent-circle">
                <p class="text"><span>100</span>%</p>
                <svg viewbox="0 0 36 36" class="circular-chart">
                <path class="circle-full"
                  stroke-dasharray="100, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                  stroke-dasharray="100, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
              </svg>
              </div>
              <p class="skill-name mt-3 text-center">CUSTOMER SUPPORT</p>
            </div>
            <div class="col-2">
              <div class="percent-circle">
                <p class="text"><span>83</span>%</p>
                <svg viewbox="0 0 36 36" class="circular-chart">
                <path class="circle-full"
                  stroke-dasharray="100, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                  stroke-dasharray="83, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
              </svg>
              </div>
              <p class="skill-name mt-3 text-center">MARKETING</p>
            </div>
            <div class="col-2">
              <div class="percent-circle">
                <p class="text"><span>50</span>%</p>
                <svg viewbox="0 0 36 36" class="circular-chart">
                <path class="circle-full"
                  stroke-dasharray="100, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                  stroke-dasharray="50, 100"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                />
              </svg>
              </div>
              <p class="skill-name mt-3 text-center">ADVERTISEMENT</p>
            </div>
          </div>
          <div class="row px-5">
            <div class="col-12 py-5">
              <div class="start-doing text-center">
              <p class="h3">
                <span class="left-line"></span>
                <span class="left-square-3"></span>
                <span class="left-square-2"></span>
                <span class="left-square-1"></span> 
                SAMPLE <span>WORKS</span>
                <span class="right-square-1"></span>
                <span class="right-square-2"></span>
                <span class="right-square-3"></span>
                <span class="right-line"></span>
              </p>
              <p>Let's take a look at some of the best of our works here, we love them and hope you too</p>
              </div>
            </div>
          </div>
          <div class="row px-1 sample-work pb-5">
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work3.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work4.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work5.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work6.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work7.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work8.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work9.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work10.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-2 px-0">
              <div class="works-info d-flex align-items-center">
                <div class="w-100 text-center">
                  <a href="#" class="icon">
                    <i class="fas fa-link" data-fa-transform="flip-h"></i>
                  </a>
                  <a href="#" class="icon">
                    <i class="fas fa-search" data-fa-transform="flip-h"></i>
                  </a>
                  <div class="text mt-4">
                    <p class="name">Corporate Brochure</p>
                    <p><a href="#">Illutration</a> / <a href="#">Print</a></p>
                    <p><i class="fas fa-heart"></i> 138</p>
                  </div>
                </div>
              </div>
              <img src="../images/sample-work.jpg" class="img-fluid" alt="">
            </div>
            <button class="btn w-50 mx-auto mt-5 mb-4">VIEW ALL WORKS</button>
          </div>
          <div class="row px-5 pb-5 company-facts">
            <div class="col-12 py-5">
              <div class="key"><i class="fas fa-briefcase text-white" ></i></div>
              <div class="start-doing text-center">
              <p class="h3">
                <span class="left-line"></span>
                <span class="left-square-3"></span>
                <span class="left-square-2"></span>
                <span class="left-square-1"></span> 
                COMPANY <span>FACTS</span>
                <span class="right-square-1"></span>
                <span class="right-square-2"></span>
                <span class="right-square-3"></span>
                <span class="right-line"></span>
              </p>
              <p class="heading-decription">We do love to work and increase our counter numbers, this is what we've done till nsow</p>
              </div>
            </div>
            <div class="col-12 mb-5">
              <div class="row">
                <div class="col-3 text-center item">
                  <p class="stats">218</p>
                  <p class="text pt-4">
                    <i class="far fa-check-square fa-2x"></i>
                    COMPLETE PROJECTS
                  </p>
                </div>
                <div class="col-3 text-center item">
                  <p class="stats">360</p>
                  <p class="text pt-4">
                    <i class="fas fa-hourglass-half fa-2x"></i>
                    HOURS OF WORK <span class="small">/ MONTH</span>
                  </p>
                </div>
                <div class="col-3 text-center item">
                  <p class="stats">136</p>
                  <p class="text pt-4">
                    <i class="fas fa-ticket-alt fa-2x" data-fa-transform="rotate--45"></i>
                    SOLVED TICKETS
                  </p>
                </div>
                <div class="col-3 text-center item">
                  <p class="stats">174</p>
                  <p class="text pt-4">
                    <i class="fas fa-thumbs-up fa-2x"></i>
                    SATISFIED CLIENTS
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row px-5 team-member">
            <div class="col-12 py-5">
              <div class="start-doing text-center">
                <button class="float-left btn left"><i class="fas fa-caret-left"></i></button>
                <p class="h3">
                  <span class="left-line"></span>
                  <span class="left-square-3"></span>
                  <span class="left-square-2"></span>
                  <span class="left-square-1"></span> 
                  TEAM <span>MEMBERS</span>
                  <span class="right-square-1"></span>
                  <span class="right-square-2"></span>
                  <span class="right-square-3"></span>
                  <span class="right-line"></span>
                </p>              
                <button class="float-right btn right"><i class="fas fa-caret-right"></i></button>
              <p>We're some creative people with powerfull knowledge & awesome skills behind the scene bringing you the bests</p>

              </div>
            </div>
            <div class="col-12">
              <div class="multiple-items">
                <div><h3 class="h3">1</h3></div>
                <div><h3 class="h3">2</h3></div>
                <div><h3 class="h3">3</h3></div>
                <div><h3 class="h3">4</h3></div>
                <div><h3 class="h3">5</h3></div>
                <div><h3 class="h3">6</h3></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    <!-- @@include('../layouts/footer.html') -->
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>