.main-container {
  .start-doing {
      overflow: hidden;
      .h3 {
        font-weight: 600;
        display: inline-block;
        position: relative;
        span {
          color: $primary-color;
        }
      }
  }
  .offer {
    .big-icon {
      background-color: #383838;
      color: #e4e4e4;
      padding: 2rem .5rem;
      border-radius: 50%;
      transition: background .3s;
    }
    .offer-item:hover .big-icon {
        background-color: $primary-color;
    }
    .h4 {
      font-weight: 600;
    }
    .h4, p {
      color: #606060;
    }
    .btn {
      border: 1px solid #dedede;
      color: #8a8a8a;
      text-transform: uppercase;
      font-weight: 600;
      &:hover {
        color: #e3e3e3;
        border-color: $primary-color;
        background-color: $primary-color;
      }
    }
  }
  .feature {
    background-color: $bg-dark;
    .h3 {
      color: #e4e4e4;
    }
    .heading-decription {
      color: #717171;
    }
  }
  .key {
    position: absolute;
    width: 40px;
    height: 40px;
    top:0;
    left:50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    border-radius: 5px;
    background-color: $primary-color;
    .fa-key {
      position: absolute;
      top:50%;
      left:50%;
      transform: translateY(-50%) translateX(-50%) rotate(140deg);
      font-size: 20px;
    }
    .fa-briefcase {
      position: absolute;
      top:50%;
      left:50%;
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
      font-size: 20px;
    }
  }
  .device {
    overflow:hidden;
    .tablet {
      border: 3px solid $text-light;
      position: absolute;
      right: 0;
      height: 700px;
      width: 300px;
      background-color: #fff;
      border-radius: 20px;
      padding: 40px 15px 0px 15px;
      .img-fluid {
        border: 1px solid $text-dark;
      }
      &::after {
        position: absolute;
        top: 20px;
        left: 50%;
        height: 5px;
        width: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: black;
        content:"";
      }
    }
    .tablet-landscape {
      border: 3px solid $text-light;
      border-bottom: none;
      position: absolute;
      left: 0;
      bottom: 0;  
      height: 300px;
      width: 600px;
      background-color: #fff;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 15px 40px 15px 15px;
      .img-fluid {
        border: 1px solid $text-dark;
      }
      &::after {
        position: absolute;
        right: 20px;
        top: 50%;
        height: 5px;
        width: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: black;
        content:"";
      }
    }
  }
  .features-list {
    li {
      color: $text-secondary;
      .h6 {
      color: $text-light;
      text-transform: uppercase;
      font-weight: 700;
      }
      svg {
        color: $primary-color;
        float: left;
        height:100%;
        display: block;
      }
    }
  }
  .feature-all {
    color: $text-dark;
    .h6 {
      color: $text-dark;
      font-weight: 700;
      text-transform: uppercase;
    }
    .small {
      color: $text-secondary;
    }
    .col-4:hover {
      .shape {
        background-color: $primary-color;
        box-shadow: 0 24px 0px 0px $bg-dark;
      } 
      .shape::after {
        border-top: 18px solid $primary-color;
      }
      .shape::before {
        border-top: 18px solid $bg-dark;
      }
    }
    .shape {
      transition: all .3s;
      position: relative;
      background-color: $bg-dark;
      padding: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0 24px 0px 0px $primary-color;
      &::after {
        transition: all .3s;
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;    
        border-top: 18px solid $bg-dark;
      }
      &::before {
        transition: all .3s;
        position: absolute;
        content: "";
        top: calc(100% + 24px);;
        left: 0;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;    
        border-top: 18px solid $primary-color;
      }
      svg {
        color: $text-light;
        margin: 7px;
        margin-bottom: 0;
        display: block;
      }
    }
  }
  .skill {
    background-color: $bg-dark;
    color: $text-light;
    .heading-decription {
      color: $text-secondary;
    }
    .percent-circle {
      position: relative;
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
          font-size: 2rem;
          font-weight: 900;
          vertical-align: middle;
        }
      }
    }
    .circular-chart {
      display: block;
      margin: auto;
      max-width: 80%;
      max-height: 250px;
      .circle {
      stroke: $primary-color;
      fill: none;
      stroke-width: 1;
      animation: progress 1s ease-out forwards;
      }
      .circle-full {
      stroke: $text-light;
      fill: none;
      stroke-width: 1;
      stroke-dasharray: 100 100;
      }
    }
    .skill-name {
      color: $text-secondary;
      font-weight: 700;
    }
  }
  .sample-work {
    .img-fluid {
      padding: 1px;
    }
    .works-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 168, 158, .0);
      border-radius: 3px;
      transition: all .6s;
      &:hover {
        background-color: rgba(1, 168, 158, .8);
        .icon {
          opacity: 1;
          transform: translateX(0);
          margin-right: 0;
          margin-left: 0;
        }
        .text {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .icon {
        transition: all .4s;
        position: relative;
        padding: 5px;
        margin-left: -7px;
        margin-right: -7px;
        opacity: 0; 
        &::before {
          transition: all .3s;
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $text-light;
          border-radius: 4px;
          transform: rotate(45deg);
          z-index: 0;
        }
        &:hover {
          svg {color: $text-light;}
        }
        &:hover::before {
          background-color: $bg-dark;
        }
        svg {
          color: $primary-color;
          position: relative;
          z-index: 1;
          transition: all .3s;
        }
      }
    }
    .text {
      opacity: 0;
      transition: all .4s;
      transform: translateY(15px);
      .name {
        font-weight: 600;
      }
      p, a {
        color: $text-light;
      }
    }
    .btn {
      background-color: $primary-color;
      font-weight: 600;
      color: $text-light;
    }
  }
  .company-facts {
    background-color: $bg-dark;
    color: $text-light;
    .heading-decription {
      color: $text-secondary;
    }
    .item:hover {
      .stats::before, .stats::after {
        background-color: $primary-color;
      }
    }
    .stats {
      position: relative;
      display: inline-block;
      font-size: 5rem;
      font-weight: 500;
      font-style: italic;
      &::before, &::after {
        transition: all .3s;
        position: absolute;
        content: "";
        top: 50%;
        width: 10px;
        height: 10px;
        background-color: $text-secondary;
        transform: translateY(-50%) rotate(-45deg);
        border-radius: 3px;
      }
      &::before {
        left: -30px;
      }
      &::after {
        right: -30px;
      }
    }
    .text {
      z-index: 2;
      svg{
        color: $primary-color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $bg-dark;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 1;
      }
      position: relative;
      color: $text-secondary;
      font-weight: 700;
      border-top: 1px solid $text-secondary;
    }
  }
  .team-member {
    .btn {
      position: relative;
      z-index: 3;
      background-color: $bg-dark;
      color: $text-light;
      outline: none;
      box-shadow: none;
      transition: all .3s;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

