.main-container {
  .start-doing {
      overflow: hidden;
      .h3 {
        font-weight: 600;
        display: inline-block;
        position: relative;
      }
      .text{
        span {
          color: $primary-color;
        }
      }
  }
  .offer {
    .big-icon {
      background-color: #383838;
      color: #e4e4e4;
      padding: 2rem .5rem;
      border-radius: 50%;
      transition: background .3s;
    }
    .offer-item:hover .big-icon {
        background-color: $primary-color;
    }
    .h4 {
      text-transform: uppercase;
      font-weight: 600;
    }
    .h4, p {
      color: #606060;
    }
    .btn {
      border: 1px solid #dedede;
      color: #8a8a8a;
      text-transform: uppercase;
      font-weight: 600;
      &:hover {
        color: #e3e3e3;
        border-color: $primary-color;
        background-color: $primary-color;
      }
    }
  }
  .feature {
    background-color: $bg-dark;
    .h3 {
      color: #e4e4e4;
    }
    .heading-decription {
      color: #717171;
    }
  }
  .device {
    overflow:hidden;
    .tablet {
      border: 3px solid $text-light;
      position: absolute;
      right: 0;
      height: 700px;
      width: 300px;
      background-color: #fff;
      border-radius: 20px;
      padding: 40px 15px 0px 15px;
      .img-fluid {
        border: 1px solid $text-dark;
      }
      &::after {
        position: absolute;
        top: 20px;
        left: 50%;
        height: 5px;
        width: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: black;
        content:"";
      }
    }
    .tablet-landscape {
      border: 3px solid $text-light;
      border-bottom: none;
      position: absolute;
      left: 0;
      bottom: 0;  
      height: 300px;
      width: 600px;
      background-color: #fff;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 15px 40px 15px 15px;
      .img-fluid {
        border: 1px solid $text-dark;
      }
      &::after {
        position: absolute;
        right: 20px;
        top: 50%;
        height: 5px;
        width: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: black;
        content:"";
      }
    }
  }
  .features-list {
    li {
      color: $text-secondary;
      .h6 {
      color: $text-light;
      text-transform: uppercase;
      font-weight: 700;
      }
      svg {
        color: $primary-color;
        float: left;
        height:100%;
        display: block;
      }
    }
  }
  .feature-all {
    color: $text-dark;
    .h6 {
      color: $text-dark;
      font-weight: 700;
      text-transform: uppercase;
    }
    .small {
      color: $text-secondary;
    }
    .item:hover {
      .shape {
        background-color: $primary-color;
        box-shadow: 0 24px 0px 0px $bg-dark;
      } 
      .shape::after {
        border-top: 18px solid $primary-color;
      }
      .shape::before {
        border-top: 18px solid $bg-dark;
      }
    }
    .shape {
      transition: all .3s;
      position: relative;
      background-color: $bg-dark;
      padding: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0 24px 0px 0px $primary-color;
      &::after {
        transition: all .3s;
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;    
        border-top: 18px solid $bg-dark;
      }
      &::before {
        transition: all .3s;
        position: absolute;
        content: "";
        top: calc(100% + 24px);;
        left: 0;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;    
        border-top: 18px solid $primary-color;
      }
      svg {
        color: $text-light;
        margin: 7px;
        margin-bottom: 0;
        display: block;
      }
    }
  }
  .skill {
    background-color: $bg-dark;
    color: $text-light;
    .heading-decription {
      color: $text-secondary;
    }
    .percent-circle {
      position: relative;
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
          font-size: 2rem;
          font-weight: 900;
          vertical-align: middle;
        }
      }
    }
    .circular-chart {
      display: block;
      margin: auto;
      max-width: 80%;
      max-height: 250px;
      .circle {
      transition: all 1s;
      stroke: $primary-color;
      fill: none;
      stroke-width: 1;
      }
      .circle-full {
      stroke: $text-light;
      fill: none;
      stroke-width: 1;
      stroke-dasharray: 100 100;
      }
    }
    .skill-name {
      color: $text-secondary;
      font-weight: 700;
    }
  }
  .sample-work {
    .img-fluid {
      padding: 1px;
    }
    .works-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 168, 158, .0);
      border-radius: 3px;
      transition: all .6s;
      &:hover {
        background-color: rgba(1, 168, 158, .8);
        .icon {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
          margin-right: 0;
          margin-left: 0;
        }
        .text {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .text {
      opacity: 0;
      transition: all .4s;
      transform: translateY(15px);
      .name {
        font-weight: 600;
      }
      p, a {
        color: $text-light;
      }
    }
    .btn {
      background-color: $primary-color;
      font-weight: 600;
      color: $text-light;
    }
  }
  .company-facts {
    background-color: $bg-dark;
    color: $text-light;
    .heading-decription {
      color: $text-secondary;
    }
    .item:hover {
      .stats::before, .stats::after {
        background-color: $primary-color;
      }
    }
    .stats {
      position: relative;
      display: inline-block;
      font-size: 5rem;
      font-weight: 500;
      font-style: italic;
      &::before, &::after {
        transition: all .3s;
        position: absolute;
        content: "";
        top: 50%;
        width: 10px;
        height: 10px;
        background-color: $text-secondary;
        transform: translateY(-50%) rotate(-45deg);
        border-radius: 3px;
      }
      &::before {
        left: -30px;
      }
      &::after {
        right: -30px;
      }
    }
    .text {
      z-index: 2;
      svg{
        color: $primary-color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $bg-dark;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 1;
      }
      position: relative;
      color: $text-secondary;
      font-weight: 700;
      border-top: 1px solid $text-secondary;
    }
  }
  .purchase-now {
    @include breakpoint(858) {
      font-size: .8rem;
    }
    font-size: 1rem;
    background-color: $primary-color;
    color: $text-light;
    .btn {
      font-size: .8rem;
      &:first-child {
      font-weight: 700;
      }
    }
  }
  .team-member {
    .btn {
      position: relative;
      z-index: 3;
      background-color: $bg-dark;
      color: $text-light;
      outline: none;
      box-shadow: none;
      transition: all .3s;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
  .quote {
    background-color: $primary-color;
    .key {
      background-color: $bg-dark;
    }
    .info {
      background-color: $text-light;
      color: $text-secondary;
      border-radius: 5px;
      display: inline-block;
      font-style: italic;
      .name {
        color: $primary-color;
        font-style: normal;
      }
    }
    .text {
      color: $text-light;
      font-size: 20px;
    }
    .btn {
      position: relative;
      z-index: 3;
      background-color: $text-light;
      color: $primary-color;
      outline: none;
      box-shadow: none;
      transition: all .3s;
      &:hover {
        background-color: $bg-dark;
        color: $text-light;
      }
    }
  }
  .brand {
    background-color: $bg-dark;
    .btn {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        background-color: $text-light;
        color: $primary-color;
        outline: none;
        box-shadow: none;
        transition: all .3s;
        &:hover {
          background-color: $primary-color;
          color: $text-light;
        }
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
    }
    .item {
      @include transition(all .3s);
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
  }
  .plan {
    border: 1px solid $text-secondary;
    border-radius: 5px;
    text-align: center; 
    &:hover {
      .name {
        background-color: $primary-color;
        svg {
          color: $text-light;
      }
      }
    }
    .name {
      @include transition(all .3s);
      @include transform(translateY(-50%));
      display: inline-block;
      border-radius: 5px;
      color: $text-light;
      background-color: $bg-dark;
      font-weight: 700;
      svg {
          color: $primary-color;
      }
    }
    .list-unstyled {
      border-top: 1px solid $text-secondary;
      border-bottom: 1px solid $text-secondary;
    }
    .btn {
      font-weight: 600;
      color: $text-light;
      background-color: $primary-color;
    }
  }
  .price {
    color: $text-secondary;
    .big {
      line-height: 30px;
      color: $bg-dark;
      font-size: 60px;
      font-weight: 800;
      position: relative;
      &::before {
        content: "99";
        position: absolute;
        top: 10%;
        right: 0;
        font-size: 15px;
      }
      &::after {
        @include transform(rotate(45deg));
        content: " ";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $bg-dark;
        border-radius: 2px;
      }
    }    
  }
  .unique {
    color: $bg-dark;
    .text {
      @include breakpoint(500) {
        font-size: 16px;
      }
      font-weight: 700;
      font-size: 25px;
    }
    .fa-heart {
      color: $primary-color;
    }
    .btn {
      position: relative;
      background-color: $primary-color;
      color: $text-light;
      font-weight: 700;
    }
  }
}
.icon {
  visibility: hidden;
  transition: all .4s;
  position: relative;
  padding: 5px;
  margin-left: -7px;
  margin-right: -7px;
  opacity: 0; 
  &::before {
    transition: all .3s;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotateZ(45deg));
    background-color: $text-light;
    border-radius: 4px;
    z-index: 0;
  }
  &:hover {
    svg {color: $text-light;}
    z-index: 2;
  }
  &:hover::before {
    background-color: $bg-dark;
  }
  svg {
    color: $primary-color;
    position: relative;
    z-index: 1;
    transition: all .3s;
  }
}
.member {
  background-color: transparent;
  &:hover {
    .text {
      background-color: rgba(1, 168, 158, .8);
    }
    .name .text {
      background-color: $bg-dark;
    }
    .icon {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      margin-right: 0;
      margin-left: 0;
    }
  }
  .img-top {
    position: relative;
    .text {
      @include transition(background .3s);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .card-body {
    position: relative;
  }
  .name {
    @include transform(translateY(-50%));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .text {
      @include transition(background .3s);
      background-color: $primary-color;
      color: $text-light;
      border-radius: 5px;
      font-weight: 600;
    }
  }
  .position {
      display: inline-block;
      border-bottom: 1px solid $text-secondary;
  }
  .card-text {
    color: $text-secondary;
    display: block;
  }
  .mail {
    @include transition(color .3s);
    &:hover {
      color: $primary-color;
    }
  }
}
.key {
    position: absolute;
    width: 40px;
    height: 40px;
    top:0;
    left:50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    border-radius: 5px;
    background-color: $primary-color;
    svg {
      position: absolute;
      top:50%;
      left:50%;
      font-size: 20px;
    }
    .fa-key {
      transform: translateY(-50%) translateX(-50%) rotate(140deg);
    }
    .fa-briefcase {
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }
    .fa-quote-left {
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }
    .fa-caret-up {
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }
  }
.roll {
  animation-name: progress;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}