<footer class="footer-container">
  <div class="container-fluid">
    <div class="row footer py-5">
        <div class="col-12 text-center">
          <a class="navbar-brand" href="#"><img class="logo" src="../images/logo.png" width="60px" height="60px" /> STARTUPRR</a>
          <ul class="list-unstyled pt-5 pb-4">
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-facebook-f fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-twitter fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-pinterest-p fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-vimeo-v fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-youtube fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-dribbble fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-pinterest-p fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-vimeo-v fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-youtube fa-fw"></i></a>
            </li>
            <li class="my-3 my-sm-0">
              <a href="#" class="social-icon"><i class="fab fa-dribbble fa-fw"></i></a>
            </li>
          </ul>
        </div>
    </div>
    <div class="row px-3 px-md-5 py-5 contact">
      <div class="col-8 col-sm-5 col-lg-4 message p-3 bg-light">
        <form>
          <input type="text" class="form-control mb-3" placeholder="Name">
          <input type="mail" class="form-control mb-3" placeholder="Email Adress">
          <textarea class="form-control mb-3" rows="4" placeholder="Message"></textarea>
          <button type="submit" class="btn w-100">SUBMIT MESSAGE</button>
        </form>
      </div>
    </div>
    <div class="row px-3 px-md-5 copyright">
      <div class="col-12 py-5">
        <div class="key"><i class="fas fa-caret-up text-white" ></i></div>
        <p class="text-center text-light font-weight-bold">Copyright &copy; 2014 Startuprr, All Rights Reserved</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>