<header class="header-container">
  <div class="header-content">
    <div class="container-fluid">
      <div class="row py-5 bg-top">
        <div class="col-5 my-5 px-0 ml-3 main-text">
          <p>WHAT ARE YOU WAITING FOR?</p>
          <p class="h1 mb-0">LET'S BE CREATIVE</p>
          <p class="dark"><span>Unique, </span>NEXT GENERATION & HIGLY FLEXIBLE WORKPRESS THEME</p>
          <div class="start-doing"><p class="h3 my-5">
            <span class="left-line"></span>
            <span class="left-square-3"></span>
            <span class="left-square-2"></span>
            <span class="left-square-1"></span> 
            <span>START</span> DOING THAT 
            <span class="right-square-1"></span>
            <span class="right-square-2"></span>
            <span class="right-square-3"></span>
            <span class="right-line"></span>
          </p>
          </div>
          <a href="#" class="down-arrow"><i class="fas fa-chevron-down fa-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>