<header class="header-container">
  <div class="header-content">
    <div class="container-fluid">
      <div class="row py-5 px-5 bg-top">
        <div class="col-6 my-5 py-4 main-text">
          <p>WHAT ARE YOU WAITING FOR?</p>
          <p class="h1 mb-0">LET'S BE CREATIVE</p>
          <p class="dark"><span>Unique, </span>NEXT GENERATION & HIGLY FLEXIBLE WORKPRESS THEME</p>
          <div class="start-doing"><p class="h3 my-5">
            <span class="left-line"></span>
            <span class="left-square-3"></span>
            <span class="left-square-2"></span>
            <span class="left-square-1"></span> 
            <span>START</span> DOING THAT 
            <span class="right-square-1"></span>
            <span class="right-square-2"></span>
            <span class="right-square-3"></span>
            <span class="right-line"></span>
          </p>
          </div>
          <a href="#" class="down-arrow"><i class="fas fa-chevron-down fa-lg"></i></a>
        </div>
      </div>
      <div class="row px-5 b-nav">
        <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"><img class="logo" src="../images/logo.png" /> STARTUPRR</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mega Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 d-none" type="search" placeholder="Search" aria-label="Search">
              <button class="btn my-2 my-sm-0" type="submit" id="search-btn"><i class="fas fa-search"></i></button>
            </form>
          </div>
        </nav>
        </div>
      </div>
    </div>
  </div>
</header>